<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/categories/create}" th:object="${cat}" method="post">
    <input type="text" th:field="*{nom}" th:placeholder="#{categorie.nom}">
    <select th:field="*{parent}" th:utext="${categories}" >
        <!--<option value="" th:text="&#45;&#45;&#45;&#45;"></option>-->
        <!--<option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.nom}"></option>-->
    </select>
    <input type="submit" value="Valider">
</form>
</body>
</html>