<form th:action="@{/categories/} + ${action}" th:object="${cat}" th:method="${method}" xmlns:th="http://www.thymeleaf.org">
    <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
    <div class="form-group">
        <label th:for="nom" th:text="#{categorie.nom}"></label>
        <input type="text" class="form-control cat-label" aria-describedby="emailHelp" th:field="*{nom}"
               th:placeholder="#{categorie.nom}"  th:data-id="*{parent} != null? *{parent.id} : ''" tabindex="1">
        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
    </div>
    <div class="form-group">
        <label th:for="parent" th:text="#{categorie.parent}"></label>
        <select th:field="*{parent}" th:utext="${categories}" class="form-control cat-select" tabindex="2"></select>
    </div>
    <input type="hidden" th:field="*{id}">
    <button type="submit" class="btn btn-primary" th:text="#{button.submit}" tabindex="3"></button>
</form>