<div class="media" xmlns:th="http://www.thymeleaf.org">
    <img class="align-self-start mr-3" th:each="image : ${article.images}" th:src="${image.lien}"
         th:alt="${article.nom}" style="width: 200px;">
    <div class="media-body">
        <h5 class="mt-0" th:text="${article.nom}"></h5>
        <span th:text="|Prix : ${article.prix} €|"></span>
        <p th:if="${article.nbVentes > 0}" th:text="|Nombres de ventes : ${article.nbVentes}|"></p>
        <p th:if="${article.promo > 0}" th:text="|Promotion sur l'article : ${article.promo} %|"></p>
        <p th:text="${article.description}"></p>
    </div>
    <div th:if="${session.client != null
                and session.client.droit != T(com.formation.boutique.enumerations.Droit).RULE_USER}">
        <a class="cat-img" th:href="|@{/articles/update/}${article.code}|" data-toggle="tooltip" data-placement="top" title="Update">
            <img th:src="@{/img/site/update.png}" alt="update">
        </a>
        <a th:href="|@{/articles/delete/}${article.code}|" data-toggle="tooltip" data-placement="top" title="Delete">
            <img th:src="@{/img/site/trash.png}" alt="delete">
        </a>
    </div>
</div>